<form class="{{cssClass}} crb-style{{#if isProficiencyLocked}} proficiency-lock{{/if}}" autocomplete="off">
    <aside>
        <img
            class="logo"
            src="systems/pf2e/assets/pathfinder_logo.webp"
            height="56"
            alt=""
            srcset=""
        />
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            <!-- HEALTH -->
            {{> "systems/pf2e/templates/actors/character/sidebar/health.html"}}

            <!-- STAMINA (if enabled) -->
            {{#if hasStamina}}
                {{> "systems/pf2e/templates/actors/character/sidebar/stamina.html"}}
            {{/if}}

            <!-- ARMOR CLASS -->
            {{> "systems/pf2e/templates/actors/character/sidebar/armor-class.html"}}

            <!-- Perception -->
            {{> "systems/pf2e/templates/actors/character/sidebar/perception.html"}}

            <!-- Initiative -->
            {{> "systems/pf2e/templates/actors/character/sidebar/initiative.html"}}

            <!-- Saves -->
            {{> "systems/pf2e/templates/actors/character/sidebar/saves.html"}}

            <!-- Class DC -->
            {{> "systems/pf2e/templates/actors/character/sidebar/class-dc.html"}}

            <!-- Resistances -->
            {{> "systems/pf2e/templates/actors/character/sidebar/resistances.html"}}
        </div>
    </aside>

    <!-- HEADER -->
    {{> "systems/pf2e/templates/actors/character/partials/header.html"}}

    <!-- SHEET NAVIGATION -->
    <nav class="sheet-navigation" data-group="primary">
        <span class="navigation-title">{{localize "PF2E.TabCharacterLabel"}}</span>
        <a class="item{{#unless tabVisibility.character}} hidden{{/unless}}" data-tab="character" data-tab-title="{{localize "PF2E.TabCharacterLabel"}}">
            <i class="fas fa-address-card"></i>
        </a>

        <a class="item{{#unless tabVisibility.actions}} hidden{{/unless}}" data-tab="actions" data-tab-title="{{localize "PF2E.TabActionsLabel"}}">
            <span class="activity-icon" style="font-size: 23px;">A</span>
        </a>

        <a class="item{{#unless tabVisibility.inventory}} hidden{{/unless}}" data-tab="inventory" data-tab-title="{{localize "PF2E.TabInventoryLabel"}}">
            <i class="fas fa-box-open"></i>
        </a>

        <a class="item{{#unless tabVisibility.spellcasting}} hidden{{/unless}}" data-tab="spellcasting" data-tab-title="{{localize "PF2E.TabSpellbookLabel"}}">
            <i class="fas fa-magic"></i>
        </a>

        <a class="item{{#unless tabVisibility.crafting}} hidden{{/unless}}" data-tab="crafting" data-tab-title="{{localize "PF2E.TabCraftingLabel"}}">
            <i class="fas fa-hammer"></i>
        </a>

        <a class="item{{#unless tabVisibility.proficiencies}} hidden{{/unless}}" data-tab="proficiencies" data-tab-title="{{localize "PF2E.TabSkillsLabel"}}">
            <i class="fas fa-hand-paper"></i>
        </a>

        <a class="item{{#unless tabVisibility.feats}} hidden{{/unless}}" data-tab="feats" data-tab-title="{{localize "PF2E.TabFeatsLabel"}}">
            <i class="fas fa-medal"></i>
        </a>

        <a class="item{{#unless tabVisibility.effects}} hidden{{/unless}}" data-tab="effects" data-tab-title="{{localize "PF2E.TabEffectsLabel"}}">
            <i class="fas fa-star"></i>
        </a>

        <a class="item{{#unless tabVisibility.biography}} hidden{{/unless}}" data-tab="biography" data-tab-title="{{localize "PF2E.Biography"}}">
            <i class="fas fa-book-reader"></i>
        </a>

        <a class="item{{#unless tabVisibility.pfs}} hidden{{/unless}}" data-tab="pfs" data-tab-title="{{localize "PF2E.TabPathfinderSociety"}}">
            <img class="pfs-icon" alt="Pathfinder Society">
        </a>

        <a class="item manage-tabs" data-action="manage-tabs" data-tab-title="{{localize "PF2E.TabManageTabsLabel"}}">
            <i class="fas fa-ellipsis-v"></i>
        </a>
    </nav>

    <!-- BODY -->
    <section class="sheet-body">
        <section class="sheet-content">
            <!-- Character -->
            {{> "systems/pf2e/templates/actors/character/tabs/general.html"}}

            <!-- Actions -->
            {{> "systems/pf2e/templates/actors/character/tabs/actions.html"}}

            <!-- Crafting -->
            {{> "systems/pf2e/templates/actors/character/tabs/crafting.html"}}

            <!-- INVENTORY -->
            {{> "systems/pf2e/templates/actors/character/tabs/inventory.html"}}

            <!-- SPELLBOOK -->
            {{> "systems/pf2e/templates/actors/character/tabs/spellcasting.html"}}

            <!-- SKILLS -->
            {{> "systems/pf2e/templates/actors/character/tabs/proficiencies.html"}}

            <!-- FEATS -->
            {{> "systems/pf2e/templates/actors/character/tabs/feats.html"}}

            <!-- Effects -->
            {{> "systems/pf2e/templates/actors/character/tabs/effects.html"}}

            <!-- BIOGRAPHY -->
            {{> "systems/pf2e/templates/actors/character/tabs/biography.html"}}

            <!-- Pathfinder Society -->
            {{> "systems/pf2e/templates/actors/character/tabs/pfs.html"}}
        </section>
    </section>
</form>
