.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;

    .profile-img {
        display: flex;
        align-items: flex-end;
        margin: 1rem 0;
        min-width: 124px;
        height: 200px;
        background-color: var(--tertiary);
        background-size: cover;
        background-position: top center;
        @include frame-silver;
    }

    h4.plaque {
        margin-left: 0;
        color: var(--sidebar-title);
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }

    ul.stats {
        @include p-reset;
        list-style: none;
        text-align: center;

        li {
            @include p-reset;
        }
    }
}

.tab {
    &.character {
        .character-bio {
            display: flex;
            flex-direction: column;
            height: 100%;

            footer {
                margin-top: auto;
                text-align: left;
                @include p-reset;
                margin-top: auto;
                margin-bottom: 8px;

                p {
                    color: var(--alt);
                }
            }
        }
    }
}
