.entries-list {
    list-style: none;
    padding: 0px;
    margin: 0px;

    .spellcasting-entry {
        display: block;
        width: 100%;
        margin: 0px;

        &:not(:first-child) {
            margin-top: 24px;
        }

        .header {
            background-color: $primary-accent;
            color: $light-text;
            display: flex;
            flex: 1 0 auto;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: baseline;
            padding: 4px 0.5em;
            border-radius: 3px 3px 0px 0px;

            a.slotless-level-toggle {
                margin-right: 0.5em;
            }

            .values {
                display: flex;
                flex: 1;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: baseline;

                .name {
                    width: max-content;
                    h4 {
                        margin: 0 4px 0 0;
                    }
                    padding-right: 6px;
                }

                .inline-field {
                    flex: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: baseline;

                    label {
                        flex: 1;
                    }

                    .attack-input {
                        flex: 1 0 32px;
                        text-align: center;
                        background-color: $light-text;
                        font-weight: bold;
                        margin-left: 4px;
                        margin-right: 8px;
                        width: 32px;
                    }
                }

                .ability-score {
                    select {
                        margin-left: 4px;
                        max-width: 55px;
                        padding: 2px !important;
                    }
                }
            }
        }

        .dc-input, .spell-level-header input {
            flex: 1 0 32px;
            text-align: center;
            background-color: $light-text;
            font-weight: 700;
            margin-left: 4px;
            margin-right: 8px;
            width: 32px;
            height: 18px;
            background: #f5efe0;
            color: #333;
            border: 1px solid transparent;
        }

        .body {
            border: 1px solid $primary-accent;
            border-radius: 0px 0px 3px 3px;

            .sub-header {
                flex: 1 0 auto;
                background-color: $secondary-accent;
                color: $light-text;
                display: grid;
                grid-template-columns: 26px auto 64px 80px 64px;
                column-gap: 6px;
                padding: 4px 12px;
                text-align: center;

                .focus-point-container {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    grid-column: 1/span 2;

                    .focus-points {
                        text-align: center;
                        background-color: $light-text;
                        font-weight: bold;
                        margin-left: 4px;
                        margin-right: 8px;
                        width: 25px;
                    }

                    .focus-pool {
                        text-align: center;
                        background-color: $light-text;
                        font-weight: bold;
                        margin-left: 4px;
                        margin-right: 8px;
                        width: 25px;
                    }
                }

                .controls {
                    flex: 0;
                    text-align: right;
                    justify-content: flex-end;
                }
            }

            .section {
                .section-header {
                    display: flex;
                    flex: 1 0 auto;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: baseline;
                    background-color: $secondary-accent;
                    color: $light-text;
                    padding: 4px 8px;
                    text-align: center;

                    .level-prepared-toggle {
                        align-self: flex-start;
                    }

                    h4 {
                        padding-left: 10px;
                        margin: 0px;
                    }
                }
            }
        }
    }
}

.spell-list {
    .spell-level-header {
        background-color: $secondary-accent;
        border-color: $secondary-accent;
        color: white;
    }

    .level-prepared-toggle {
        color: inherit;
    }

    .item {
        border: none;
    }

    .spellbook-empty {
        padding: 0 12px;
    }
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 12px;
}

.btn {
    width: auto !important;
    cursor: pointer;
    margin: 8px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 16px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
    background: $primary-accent;
    color: $light-text;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    border: none;
}
