<form class="{{cssClass}}" autocomplete="off" spellcheck="false">
    <!-- HEADER -->
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <section class="header-details">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" />
            </h1>
            <div class="traits">
                {{#each traits as |trait|}}
                    <span data-trait="{{trait.value}}" title="{{trait.description}}">{{localize trait.label}}</span>
                {{/each}}
            </div>
        </section>
    </header>
    <!-- BODY -->
    <section class="sheet-content">
        <div class="container">
            <div class="master">
                <h2>{{localize "PF2E.Familiar.Master"}}</h2>
                <label for="{{actor._id}}-master"><strong>{{localize "PF2E.Familiar.MasterActor"}}</strong></label>
                <select id="{{actor._id}}-master" name="data.master.id">
                    {{#select master.id}}
                        <option value="">{{localize "PF2E.Familiar.SelectMaster"}}</option>
                        {{#each masters as |eligible idx|}}
                            <option value="{{eligible.id}}">{{eligible.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                {{#if data.master.id}}
                    <div><strong>{{localize "PF2E.Familiar.MasterLevel"}}</strong> {{data.details.level.value}}</div>
                    <div>
                        <label for="{{actor._id}}-spellcasting-ability"><strong>{{localize 'PF2E.Familiar.MasterSpellcastingAbility'}}</strong></label>
                        <select id="{{actor._id}}-spellcasting-ability" name="data.master.ability">
                            {{#select data.master.ability}}
                                {{#each abilities as |ability abbr|}}
                                    <option value="{{abbr}}">{{localize ability}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>

                    <div title="{{familiarAbilities.breakdown}}">
                        <strong>{{localize "PF2E.Familiar.TotalNumberFamiliarAbilities"}}</strong> {{numberFormat familiarAbilities.value decimals=0}}
                    </div>
                {{/if}}
            </div>

            <div class="basic-stats">
                <h2>{{localize "PF2E.Familiar.Familiar"}}</h2>
                <label for="{{actor._id}}-species"><strong>{{localize "PF2E.Familiar.Creature"}}</strong></label>
                <input id="{{actor._id}}-species" name="data.details.creature.value" value="{{data.details.creature.value}}" placeholder="Rat, imp, leshy, etc."/>
                {{#if data.master.id}}
                    <div>
                        <strong>{{localize "PF2E.Size"}}</strong>
                        <span>{{localize size}}</span>
                    </div>
                    <div class="rollable perception" title="{{data.attributes.perception.breakdown}}" data-perception-check>
                        <strong>{{localize "PF2E.Familiar.Perception"}}</strong>
                        <span>{{numberFormat data.attributes.perception.value decimals=0 sign=true}}</span>
                    </div>
                    <strong>{{localize "PF2E.Senses"}}</strong>
                    <span class="tags">
                        {{#each data.traits.senses as |sense idx|}}
                            {{#if sense.label}}<span class="tag">{{sense.label}}</span>{{/if}}
                        {{/each}}
                    </span>
                    <div>
                        <strong>{{localize "PF2E.Speed"}}</strong>
                        <span class="tags">
                            {{#with data.attributes.speed as |landSpeed|}}
                                <span class="tag" title="{{landSpeed.breakdown}}">{{localize landSpeed.label}} {{landSpeed.total}}</span>
                            {{/with}}
                            {{#each data.attributes.speed.otherSpeeds}}
                                <span class="tag" title="{{this.breakdown}}">{{localize this.label}} {{this.total}}</span>
                            {{/each}}
                        </span>
                    </div>
                {{/if}}
            </div>
            {{#if data.master.id}}
                <div class="defense">
                    <h2>{{localize "PF2E.Familiar.Defenses"}}</h2>
                    <label for="{{actor._id}}-hit-points"><strong>{{localize "PF2E.HitPointsHeader"}}</strong></label>
                    <input id="{{actor._id}}-hit-points" type="number" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" class="hitPoints" data-dtype="Number" />
                    <span>/</span>
                    <span title="{{data.attributes.hp.breakdown}}">{{data.attributes.hp.max}}</span>
                    <div title="{{data.attributes.ac.breakdown}}">
                        <strong>{{localize "PF2E.Familiar.ArmorClass"}}</strong>
                        <span>{{numberFormat data.attributes.ac.value decimals=0 sign=false}}</span>
                    </div>
                    {{#each data.saves}}
                        <div class="saving-throw rollable" title="{{this.breakdown}}" data-saving-throw="{{@key}}">
                            <strong>{{localize this.name}}</strong>
                            <span>{{numberFormat this.value decimals=0 sign=true}}</span>
                        </div>
                    {{/each}}
                    <hr />
                    <div class="rollable" title="{{data.attack.breakdown}}" data-attack-roll="">
                        <strong>{{localize "PF2E.Familiar.AttackRoll"}}</strong>
                        <span>{{numberFormat data.attack.value decimals=0 sign=true}}</span>
                    </div>
                </div>
                <div class="skills">
                    <h2>{{localize "PF2E.Familiar.Skills"}}</h2>
                    <div class="skill-list">
                        {{#each data.skills}}
                            <div class="skill-item rollable" title="{{this.breakdown}}" data-skill-check="{{@key}}">
                                <strong>{{localize this.name}}</strong>
                                <span>{{numberFormat this.value decimals=0 sign=true}}</span>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="effects">
                    <h2>{{localize "PF2E.EffectsLabel"}}</h2>
                    <ol class="item-list">
                        {{#each items as |item idx|}}
                            {{#if (eq item.type "condition")}}
                                <li class="item list-row expandable" data-item-id="{{item._id}}">
                                    <div class="item-name">
                                        <div class="item-image" style="background-image: url({{item.img}})">
                                            <i class="fas fa-comment-alt"></i>
                                        </div>
                                        <h4>{{item.name}}</h4>
                                        {{#if ../owner}}
                                            <div class="item-controls">
                                                <a class="item-control item-delete" title="{{localize PF2E.DeleteItemTitle}}"><i class="fas fa-trash"></i></a>
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="item-summary">{{{enrichHTML item.data.description.value}}}</div>
                                </li>
                            {{/if}}
                        {{/each}}
                        {{#each items as |item idx|}}
                            {{#if (eq item.type "effect")}}
                                <li class="item list-row expandable" data-item-id="{{item._id}}">
                                    <div class="item-name">
                                        <div class="item-image" style="background-image: url({{item.img}})">
                                            <i class="fas fa-comment-alt"></i>
                                        </div>
                                        <h4>{{item.name}}</h4>
                                        {{#if ../owner}}
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="{{localize 'PF2E.EditItemTitle'}}"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="{{localize PF2E.DeleteItemTitle}}"><i class="fas fa-trash"></i></a>
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="item-summary">{{{enrichHTML item.data.description.value}}}</div>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ol>
                </div>
            {{/if}}
        </div>
    </section>
</form>
